<div class="card">
    <div class="card-header">   
        {{pageTitle}}
    </div>
    <div class="  card-body">
        <button (click)='toggleImage()' >Prikazi nesto</button>
        <table>
            <thead>
                <th>Product</th>
                <th>Code</th>
                <th>Avaible</th>
                <th>Price</th>
                <th>5 Star Rating</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td><img *ngIf='showImage'
                         [src]='product.imageUrl' [style.width.px]='imageWidth' [style.margin.px]="imageMargin"/></td>
                    <td>{{product.productId}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.avaible}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.starRating}}</td>
                </tr>
            </tbody>
        </table>
        <span *ngIf="aca">Fuck off aco</span>
    </div>
</div>